# Importing Libraries

In [47]:

import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis

import requests 

print('Libraries imported.')

Libraries imported.

In [5]:
downloading lxml 
!conda install lxml --yes

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /home/jupyterlab/conda/envs/python

  added / updated specs:
    - lxml


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2020.1.1   |                0         125 KB
    certifi-2020.4.5.1         |           py36_0         155 KB
    libxslt-1.1.33             |       h7d1a2b0_0         426 KB
    lxml-4.5.0                 |   py36hefd8a0e_0         1.4 MB
    openssl-1.1.1g             |       h7b6447c_0         2.5 MB
    ------------------------------------------------------------
                                           Total:         4.6 MB

The following NEW packages will be INSTALLED:

  libxslt            pkgs/main/linux-64::libxslt-1.1.33-h7d1a2b0_0
  lxml               pkgs/main/linux-64::lxml-4.5.0-py36hefd8a0e_0

The following packages will be SUPERSEDED by a higher-priority channel:

  ca-certificates    conda-forge::ca-certificates-2020.4.5~ --> pkgs/main::ca-certificates-2020.1.1-0
  certifi            conda-forge::certifi-2020.4.5.1-py36h~ --> pkgs/main::certifi-2020.4.5.1-py36_0
  openssl            conda-forge::openssl-1.1.1g-h516909a_0 --> pkgs/main::openssl-1.1.1g-h7b6447c_0



Downloading and Extracting Packages
ca-certificates-2020 | 125 KB    | ##################################### | 100%
lxml-4.5.0           | 1.4 MB    | ##################################### | 100%
openssl-1.1.1g       | 2.5 MB    | ##################################### | 100%
certifi-2020.4.5.1   | 155 KB    | ##################################### | 100%
libxslt-1.1.33       | 426 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

# Scraping Data from wikipedia

In [48]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

# Reading all the tables in the given URL
# Returns list of all the tables in the url which has "Postal code" in their Schema

tables = pd.read_html(url,match="Postal Code")
len(tables)

1

In [49]:
data = pd.DataFrame(tables[0])

In [38]:
# The requuired table data
data

,Postal Code,Borough,Neighborhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

In [50]:
#intial shape of Data

data.shape

(180, 3)

In [51]:
#processing the data which has Borough not equal to Not assigned

data = data[data['Borough']!='Not assigned'].reset_index(drop=True)
data

,Postal Code,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [52]:
# data shape after removing not assigned Postal Codes
data.shape

(103, 3)

In [33]:
#replacing Neighborhoods equal to Not assigned with borough name

data.loc[data['Neighborhood'] == 'Not assigned','Neighborhood']=data['Borough']

In [53]:
# checking if there are same postal code Multiple times

data['Postal Code'].value_counts().sort_values(ascending = False)

M9A    1
M7A    1
M9W    1
M4H    1
M9L    1
      ..
M1E    1
M1H    1
M5G    1
M5H    1
M4G    1
Name: Postal Code, Length: 103, dtype: int64

In [54]:
#since there are not Postal codes repeated multiple times 
# it is not required to join any Neighborhoods

# final shape of data

data.shape

(103, 3)

# Question 2

In [55]:
geodata = pd.read_csv('Geospatial_Coordinates.csv')
geodata

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [56]:
# Merging the tables Based on key Postal Code

final_data = pd.merge(data,geodata,how='inner',on='Postal Code')
final_data

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
...,...,...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.653654,-79.506944
99,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C...",43.662744,-79.321558
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu...",43.636258,-79.498509
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,...",43.628841,-79.520999

In [ ]:
final_data